<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="RecordKeepingConnection"
			 connectionString="Data Source=DESKTOP-E3J60MI;Initial Catalog=FuneralServiceDB;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
